.links-bar {
    display: flex;
    /*gap: 10px;*/
}

.links-item {
    background: linear-gradient(45deg, #8181de, #3a3ad6);
    padding: 10px 50px;
    border: 1px solid white;
}

.links-text {
    color: white;
}

.body {
    width: 35em;
    margin: 0 auto;
}

* {
    font-family: Arial, sans-serif;
}

.cytoscape-canvas {
    width: 500px;
    height: 500px;
    background: #f3f3f3;
}
