.links-bar {
    display: flex;
    gap: 10px; /* Adds spacing between divs */
}

.links-item {
    background: lightblue;
    padding: 20px;
    border: 1px solid #000;
}

.body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
